<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="QTvSoap" maxReceivedMessageSize="999999" />
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://77.36.163.186/qtv.asmx" binding="basicHttpBinding"
                    bindingConfiguration="QTvSoap" contract="QtvWebService.QTvSoap"
                    name="QTvSoap" />
        </client>
    </system.serviceModel>
</configuration>
